
body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    color: white
}

.star2px{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(2,0,36,1) 52%);
    position: absolute;
    z-index: 1;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.star5px{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(2,0,36,1) 52%);
    position: absolute;
    z-index: 1;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.star10px{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(2,0,36,1) 50%);
    z-index: 2;
}

#menu-stars{
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 25%;
    left: 25%;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

.card{
    width: 150%;
    align-content: center;
    /*background: rgba(255,255,255,0.7);*/
    background: rgb(120,66,164);
    background: radial-gradient(circle, rgba(120,66,164,1) 0%, rgba(38,0,71,1) 100%);
    border-radius: 15px;
    padding: 5%;
    height: fit-content;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.form{
    margin: auto;
    text-align: center;
}

.form-back-btn {
    margin-left: 95%;

}

.delete-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.fav-object-div {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

h3 {
    text-align: center;
}

#celeb-card {
    margin-left: 10px;
}

.sign-index-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.index-table {
    width: content-box;
    margin-left:auto;
    margin-right:auto;

}

.sign-index-image {
    width: 60px;
    height: 60px;
    margin: 15px
}



@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

 .avatar {


        background-size: cover;
        background-position: center;
     position: relative;

    }
    .avatar::before, 
    .avatar::after {
        --scale: 0;
        --tooltip-color: rgb(77, 77, 56);
        --arrow-size: 10px;

        position: absolute;
        top: -.25rem;
        left: 50%;
        transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
        transition: 300ms transform;
        transform-origin: bottom center;
    }

    .avatar::before {
        --translate-y: calc(-100% - var(--arrow-size));
        content: attr(data-tooltip);
        color: white;
        padding:.5rem;
        text-align: center;
        width: max-content;
        border-radius: .3rem;
        max-width: 400%;
        background: var(--tooltip-color);
    }

    .avatar:hover::before, 
    .avatar:hover::after {
        --scale: 1
    }

    .avatar::after {
        --translate-y: calc(-1 * var(--arrow-size));
        content: '';
        border: var(--arrow-size) solid transparent;
        border-top-color: var(--tooltip-color);
        transform-origin: top center;
    }

